.note {
    width: 200px;
    height: 200px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 30px 15px;
    position: relative;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
    
}
.note::before {
    content: "";
    opacity: 0.5;
    z-index: -1;
    transform: translateY(10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
}
.note > p{
    color: unset;
    width: 100%;
    height: max-content;
    font-size: 18px;
    margin-top: 10px;

}
.note > .icon{
    position: absolute;
    right: 0;
    top: 0;
    color: unset;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 10px;
    transition: 0.1s;
    opacity: 0.8;

}
.note > .icon:hover{
    opacity: 1;

}
.note > .index{
    position: absolute;
    left: 0;
    top: 0;
    color: unset;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 10px;
    transition: 0.1s;
    opacity: 0.8;
    font-family: monospace;
    font-size: 16px;


}
