*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: main-font;
    src: url("../Assets/Fonts/IndieFlower-Regular.ttf");
}
body{
    font-family: "main-font";
    font-size: 16px;
}

/* --------------- */
.app > .notes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 50px 0px;
}
